<div class="container">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6">
            <h1 class="home-h1">{{siteTitle}}</h1>
            <a href="/movies" class="white-btn">Check the movies!</a>
        </div>
    </div>
</div>