<div class="cover">
    <img class="bg" src="/img/cinema.jpg" alt="">
</div>

<div class="container initialPage">
    <h1>{{siteTitle}}</h1>
    <a class="btn btn-light button" href="/movies">Check the movies!</a>
</div>