<section>
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check showtimes!</p>
    <div class="row">
        {{#each allMovies}}
        <div class="col-md-4 card-film">
            <img src="{{image}}" alt="{{title}}">
            <p>{{title}}</p>
            <a class="link" href="movie/{{id}}">See More</a>
        </div>
        {{/each}}
    </div>
</section>