<div class="container">
    <div>
        <h1>Ironhack Cinema</h1>
        <p>Click on the movie to check the showtimes!</p>
    </div>
    <div class="row">
        {{#each movies}}
        <div class="col-md-4">
            <img src="{{image}}" alt="Movie Image">
            <p>
                <bold>{{title}}</bold>
            </p>
            <a href="/details/{{id}}" class="btn btn-dark">See more</a>
        </div>
        {{/each}}
    </div>
</div>