<div class="container">
    <h1>{{title}}</h1>
    <hr>
    <h3>Director: {{director}}</h3>
    <p>{{#each star}}</p>
    <ul>
        <li></li>
    </ul>
    <hr>
    <p>{{description}}</p>
    <p>{{showtimes}}</p>
</div>